## Pandas analysis

This exercise consists in analyzing a dataset containg timing information from a series of Time-to-Digital-Converters (TDC) implemented in a couple of FPGAs. Each measurement (i.e. each row of the input file) consists of a flag that specifies the type of message ('HEAD', which in this case is always 1), two addresses of the TDC providing the signal ('FPGA' and 'TDC_CHANNEL'), and the timing information ('ORBIT_CNT', 'BX_COUNTER', and 'TDC_MEAS'). Each TDC count corresponds to 25/30 ns, whereas a unit of BX_COUNTER corresponds to 25 ns, and the ORBIT_CNT is increased every 'x' BX_COUNTER. This allows to store the time in a similar way to hours, minutes and seconds.

In [1]:
# If you didn't download it yet, please get the relevant file now!
!wget https://www.dropbox.com/s/xvjzaxzz3ysphme/data_000637.txt -P ~/data/

--2025-11-27 09:06:45--  https://www.dropbox.com/s/xvjzaxzz3ysphme/data_000637.txt
Risoluzione di www.dropbox.com (www.dropbox.com)... 162.125.69.18
connesso.ne a www.dropbox.com (www.dropbox.com)|162.125.69.18|:443...
302 Found HTTP inviata, in attesa di risposta...
Posizione: https://www.dropbox.com/scl/fi/pkkpoxlm7beasryexpdf8/data_000637.txt?rlkey=rkm2em1v57hewglzelmin21c9 [segue]
--2025-11-27 09:06:46--  https://www.dropbox.com/scl/fi/pkkpoxlm7beasryexpdf8/data_000637.txt?rlkey=rkm2em1v57hewglzelmin21c9
Riutilizzo della connessione esistente a www.dropbox.com:443.
302 Found HTTP inviata, in attesa di risposta...
Posizione: https://uc3bfda6cf42688d45a12c6f82c6.dl.dropboxusercontent.com/cd/0/inline/C19J1d67ZKdcfQYnDyCL3PQ_sOM1wiVaJWWwXy2mwCgKXzamer7CzKZ8Xs9mcNxCvk3hWcb-zs5K3zWVr-lKv64v2xbxUiTViJZtaCYiSoBNBdCJDddP5rB7MdZyc6c6Zpk/file# [segue]
--2025-11-27 09:06:47--  https://uc3bfda6cf42688d45a12c6f82c6.dl.dropboxusercontent.com/cd/0/inline/C19J1d67ZKdcfQYnDyCL3PQ_sOM1wiVaJWWwXy2mwCgKXzamer7CzKZ8Xs9mcNxCvk3hWcb-zs5K3zWVr-lKv64v2xbxUiTViJZtaCYiSoBNBdCJDddP5rB7MdZyc6c6Zpk/file
162.125.69.15i uc3bfda6cf42688d45a12c6f82c6.dl.dropboxusercontent.com (uc3bfda6cf42688d45a12c6f82c6.dl.dropboxusercontent.com)...
Connessione a uc3bfda6cf42688d45a12c6f82c6.dl.dropboxusercontent.com (uc3bfda6cf42688d45a12c6f82c6.dl.dropboxusercontent.com)|162.125.69.15|:443... connesso.
200 OKsta HTTP inviata, in attesa di risposta...
Lunghezza: 33179236 (32M) [text/plain]
Salvataggio in: «/Users/federicosbarbati/data/data_000637.txt»

data_000637.txt     100%[===================>]  31,64M  11,4MB/s    in 2,8s

2025-11-27 09:06:50 (11,4 MB/s) - «/Users/federicosbarbati/data/data_000637.txt» salvato [33179236/33179236]

1\. Create a Pandas DataFrame reading N rows of the 'data_000637.txt' dataset. Choose N to be smaller than or equal to the maximum number of rows and larger that 10k.

2\. Find out the number of BX in a ORBIT (the value 'x').

3\. Find out how much the data taking lasted. You can either make an estimate based on the fraction of the measurements (rows) you read, or perform this check precisely by reading out the whole dataset.

4\. Create a new column with the absolute time in ns (as a combination of the other three columns with timing information).

5\. Replace the values (all 1) of the HEAD column randomly with 0 or 1.

6\. Create a new DataFrame that contains only the rows with HEAD=1.

7\. Make two occupancy plots (one for each FPGA), i.e. plot the number of counts per TDC channel

8\. Use the groupby method to find out the noisy channels, i.e. the TDC channels with most counts (say the top 3)

9\. Count the number of unique orbits. Count the number of unique orbits with at least one measurement from TDC_CHANNEL=139

In [62]:
import pandas as pd

N = 110000000
N_min = 0 
if (N > 10000):
    df = pd.read_csv('data/data_000637.txt', sep = "," , nrows = N) # If n > len(file) it automatically cares about handling the data
df.head(10)

   HEAD  FPGA  TDC_CHANNEL   ORBIT_CNT  BX_COUNTER  TDC_MEAS
0     1     0          123  3869200167        2374        26
1     1     0          124  3869200167        2374        27
2     1     0           63  3869200167        2553        28
3     1     0           64  3869200167        2558        19
4     1     0           64  3869200167        2760        25
5     1     0           63  3869200167        2762         4
6     1     0           61  3869200167        2772        14
7     1     0          139  3869200167        2776         0
8     1     0           62  3869200167        2774        21
9     1     0           60  3869200167        2788         7

In [33]:
df.describe()

,HEAD,FPGA,TDC_CHANNEL,ORBIT_CNT,BX_COUNTER,TDC_MEAS
count,11000.0,11000.000000,11000.000000,1.100000e+04,11000.000000,11000.000000
mean,1.0,0.298727,55.430000,3.869200e+09,1803.829091,13.365636
std,0.0,0.457721,39.320566,3.165091e+01,1061.875496,9.217919
min,1.0,0.000000,1.000000,3.869200e+09,0.000000,0.000000
25%,1.0,0.000000,24.000000,3.869200e+09,833.000000,5.000000
50%,1.0,0.000000,56.000000,3.869200e+09,1800.500000,13.000000
75%,1.0,1.000000,64.000000,3.869200e+09,2755.250000,21.000000
max,1.0,1.000000,139.000000,3.869200e+09,3563.000000,29.000000

In [66]:
Orbit_max = max(df['ORBIT_CNT'])
Orbit_min = min(df['ORBIT_CNT'])
print('Number of measured orbit:', Orbit_max - Orbit_min)

max_BX_orbit = df.groupby('ORBIT_CNT')[BX_COUNTER].max()
BX = max_BX_orbit.mean()

max_TDC_BX = df.groupby('BX_COUNTER')[TDC_MEAS].max()
TDC = max_TDC_BX.mean()

print('Mean number of bunches per Orbit:', round(BX))
print('Mean number of tdc per BX:', round(BX))

Number of measured orbit: 11004

NameError: name 'BX_COUNTER' is not defined

In [63]:
# Evaluating the data time taking: Orbit Count = day, BX = hours, TDC_meas = minutes
N_max = len(df.index)

# We must estimate the number of TDC for BX

for

SyntaxError: expected ':' (147541114.py, line 6)